@import "../../styles/_variables.scss";

.navbar {
    position: fixed;
    top: 50%;
    &__btn {
        background-color: $base-color;
        &--icon {
            color: $white;
        }
        &--text {
            color: $white;
        }
    }
}